APP_NAME=WiseBuy
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://wisebuy.zvy.my.id

LOG_CHANNEL=stderr
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=postgres_shared
DB_PORT=5432
DB_DATABASE=wisebuy
DB_USERNAME=wisebuy
DB_PASSWORD=replace-with-a-strong-password

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=true
SESSION_SECURE_COOKIE=true
SESSION_DOMAIN=wisebuy.zvy.my.id
SANCTUM_STATEFUL_DOMAINS=wisebuy.zvy.my.id

CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
FILESYSTEM_DISK=local

